<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finalizar</title>
    <link rel="stylesheet" href="styles.css">
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"
      defer
    ></script>
    <script src="script.js" defer></script>
    <script src="script.js" defer></script>
  </head>
  <body>
    <div id="app">
      <h1>Finalizar Compra de Ingresso</h1>

      <form @submit.prevent="validarFormulario">
        <fieldset>
          <p>Informe seus dados</p>

          <div>
            <label>Nome</label>
            <input type="text" name="nome" v-model="nome" />
          </div>

          <div>
            <label>Email</label>
            <input type="email" name="email" v-model="email" />
          </div>

          <div>
            <label>Data de Nascimento </label>
            <input type="date" name="data" v-model="dataNascimento" />
          </div>

          <div>
            <label>CPF </label>
            <input type="text" name="cpf" v-model="cpf" />
          </div>

          <fieldset>
            <p>Pagamento</p>

            <label for="pagamento">Forma de Pagamento</label>

            <select id="pagamento" name="pagamento" v-model="formaPagamento">
              <option value="pix">Pix</option>
              <option value="boleto">Boleto</option>
              <option value="cartao">Cartão</option>
            </select>
          </fieldset>

          <button type="submit"  >Concluir</button> 
        </fieldset>
      </form>
    </div>
  </body>
</html>

